@font-face {
    font-family: 'Phonk Sans';
    src: url('./PhonkSans-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Phonk Sans';
    src: url('./PhonkSans-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}